<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tiltometer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body ng-app="app">
    <div ng-controller="AppCtrl" class="container">
      <h1>Tiltometer</h1>
      <form novalidate class="simple-form" role="form">
        <input type="text" ng-model="player.name" class="form-control" placeholder="player name" />
        <input type="radio" ng-model="player.region" value="na" />NA
        <input type="radio" ng-model="player.region" value="euw" />EUW<br>
        <button ng-click="submit()" class="btn btn-default">Submit</button>
      </form>
      <br>
      <h4>Results</h4>
      <p>{{ currentData }}</p>
      <ul class="list-group">
        <li ng-repeat="player in players" class="list-group-item">
          {{ player }}
        </li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      var app = angular.module("app", [])
      .controller("AppCtrl", function($scope, $http) {
        $scope.submit = function() {
          

          $http.get("/api/current/" + $scope.player.region + "/" + $scope.player.name)
          .then(function(currentGame) {
            players = currentGame.data.participants
            bans = currentGame.data.bannedChampions
            started = currentGame.data.startTime
            
            // get champs played for each player
            $http.get("/api/champ/" + $scope.player.region)
            .then(function(body) {
              staticChampData = body.data.data
              names = Object.keys(staticChampData)
              for (i = 0; i < names.length; i++) {
                champ = staticChampData[names[i]]
                for (k = 0; k < players.length; k++) {
                  player = players[k]
                  if (player.championId == champ.id) {
                    player.currentChamp = champ
                  }
                }
              }
            })

            // calculate one players tilt
            // get their history
            $http.get("/api/history/" + $scope.player.region + "/" + players[0].summonerId)
            .then(function(playerHistory) {
              player = players[0]
              console.log("Player:", player)
              games = playerHistory.data.games
              console.log("Games:", games)

              // has player played this champ recently
              times_played = 0
              for (i = 0; i < games.length; i++) {
                if (games[i].championId == player.championId) {
                  times_played += 1
                }
              }
              // playing new champ e.g. bad lobby, favorite banned, etc.
              console.log(times_played)

              // playing a champ you're not used to because
              // they beat you previously
              previous_game = playerHistory.data.games[0]
              for (i = 0; i < previous_game.fellowPlayers.length; i++) {
                user = previous_game.fellowPlayers[i]
                // if you are playing a champ they played
                if (player.championId == user.championId &&
                    // and they weren't on your team
                    previous_game.stats.team != user.teamId &&
                    // and you lost
                    previous_game.stats.win == false &&
                    // and you haven't played that champ in 9 games
                    times_played == 0) { 
                  console.log("they're tilted boys")
                }
              }


            })
          })
        }
      })
    </script>
  </body>
</html>
