<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tiltometer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body ng-app="app">
    <div ng-controller="AppCtrl" class="container">
      <h1>Tiltometer</h1>
      <form novalidate class="simple-form" role="form">
        <input type="text" ng-model="player.name" class="form-control" placeholder="player name" />
        <input type="radio" ng-model="player.region" value="na" />NA
        <input type="radio" ng-model="player.region" value="euw" />EUW<br>
        <button ng-click="submit()" class="btn btn-default">Submit</button>
      </form>
      <br>
      <h4>Results</h4>
      <p>{{ currentData }}</p>
      <ul class="list-group">
        <li ng-repeat="player in players" class="list-group-item">
          {{ player }}
        </li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      var app = angular.module("app", [])
      .controller("AppCtrl", function($scope, $http) {
        $scope.submit = function() {
          $http.get("/api/current/" + $scope.player.region + "/" + $scope.player.name)
          .then(function(currentGame) {
            players = currentGame.data.participants
            bans = currentGame.data.bannedChampions
            started = currentGame.data.startTime
            $http.get("/api/history/" + $scope.player.region + "/" + players[0].summonerId)
            .then(function(playerHistory) {
              
              // playing a champ you're not used to because
              // they beat you previously

              // champs being played
              $http.get("/api/champ/" + $scope.player.region)
              .then(function(body) {
                keys = Object.keys(body.data.data)
                for (i = 0; i < keys.length; i++) {
                  champ = body.data.data[keys[i]]
                  for (k = 0; k < players.length; k++) {
                    player = players[k]
                    if (player.championId== champ.id) {
                      console.log(player, champ)
                    }
                  }
                }
              })
            })
          })
        }
      })
    </script>
  </body>
</html>
